# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env

# Flask instance
instance/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db