<!DOCTYPE html>
<html>
    <head>
    <title>DM Unit Converter - TEST</title>
    <link   rel="stylesheet" 
            href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>DM Unit Converter</h1>
            <nav>
                <a 
                {% if current_page == 'length' %}
                    class="active"
                {% endif %}
                href="{{ url_for('length') }}">Length</a>
                <a 
                {% if current_page == 'weight' %}
                    class="active"
                {% endif %}
                href="{{ url_for('weight') }}">Weight</a>
                <a 
                {% if current_page == 'temperature' %}
                    class="active"
                {% endif %}
                href="{{ url_for('temperature') }}">Temperature</a>
            </nav>
            <hr>

        {% block content %}
        {% endblock %}
        
        </div>
    </body>
</html>