<!DOCTYPE html>
<html>
    <head>
    <title>DM Unit Converter - TEST</title>
    <link   rel="stylesheet" 
            href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
      
        <div class="container">
            
            <nav>
                <a href="{{ url_for('length') }}">Length</a>
                <a href="{{ url_for('weight') }}">Weight</a>
                <a href="{{ url_for('temperature') }}">Temperature</a>
            </nav>

        <hr>

        {% block content %}
        {% endblock %}
        
        </div>
    </body>
</html>