{% extends "base.html" %}
{% block content %}

         <label>Enter Temperature:</label>
    <form action="/temperature" method="post">
        <div class="form-control">
            <input
            type="number" 
            name="value" 
            id="value" 
            step="0.01">
        </div>
        <hr>

        <div class="form-control">
        <label>From:</label>
        <select name="from_unit">
            <option value="celsius">Celsius</option>
            <option value="fahrenheit">Fahrenheit</option>
            <option value="kelvin">Kelvin</option>
        </select>
        </div>

        <hr>
        
        <div class="form-control">
        <label>Convert to:</label>
        <select name="to_unit">
            <option value="fahrenheit">Fahrenheit</option>
            <option value="celsius">Celsius</option>
            <option value="kelvin">Kelvin</option>
        </select>
        </div>

        <hr>

        <div class="form-control">
        <button id="convert">Convert</button>
        </div>

    </form>
    <p>Result: {{ result }} {{ unit_symbol }}</p>
{% endblock %}